.flex\:column {
  display: flex;
  flex-direction: column;
}

.flex\:row {
  display: flex;
  flex-direction: row;
}

.flex-cross\:center {
  align-items: center;
}

.flex-cross\:stretch {
  align-items: stretch;
}

.flex-both\:center {
  justify-content: center;
  align-items: center;
}

.flex-main\:center {
  justify-content: center;
}

.flex-self\:stretch {
  align-self: stretch;
}
